/* .container {

} */
.text {
  grid-row: 2 / 4;
  grid-column: 4 / 5;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.title {
  grid-row: 1 / 2;
  grid-column: 1 / 6;
  font-size: 2rem;
  user-select: none;
}